<!DOCTYPE html>
<html>
<head>
	<title>File Download</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			padding: 20px;
			text-align: center;
		}

		h1 {
            margin-top: 300px;
			margin-bottom: 20px;
		}

		a {
			background-color: #4CAF50;
			color: white;
			padding: 10px 20px;
			text-decoration: none;
			border-radius: 4px;
		}
	</style>
</head>
<body>
	<h1>File Uploaded Successfully</h1>
	<p>Date Uploaded: {{ datetime }}</p>
	<p>Dowload link: {{ file }} </p>
	<p>Upload duration: {{ duration }} seconds</p>
	<p><a href="{{ url_for('download', file=filename) }}">Download</a></p>
</body>
</html>
